<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="WebdriverRemoteUrl" value="http://hub.browserstack.com/wd/hub/" />
    <add key="BaseUrl" value="https://www.google.com" />
    <add key="IsLocal" value="true" />
    <add key="IsDryrun" value="false" />
    <add key="TestDataFile" value="TestData\\test1.xml" />
    <add key="ScreenshotPath" value="c:\\tmp" />
    <add key="GmailUser" value="xxx@gmail.com" />
    <add key="GmailPassword" value="xxx" />
  </appSettings>
</configuration>